hashstat.bin
mix-Gyrodactylus_truttae_ciruclar_14823_int_ads_pass.1.adsfacts
mix-Gyrodactylus_truttae_ciruclar_14823_int_ads_pass.1.adsfacts.pclusters
mix-Gyrodactylus_truttae_ciruclar_14823_int_normalisedskims_pass.1.bin
mix-Gyrodactylus_truttae_ciruclar_14823_int_posmatchc_pass.1.bin
mix-Gyrodactylus_truttae_ciruclar_14823_int_posmatchc_pass.1.bin.reduced
mix-Gyrodactylus_truttae_ciruclar_14823_int_posmatchf_pass.1.bin
mix-Gyrodactylus_truttae_ciruclar_14823_int_posmatchf_pass.1.bin.reduced
mix-Gyrodactylus_truttae_ciruclar_14823_log_readpoolinfo.lst
