hashstat.bin
teu3-Gyrodactylus_teuchis_ciruclar_14789_int_ads_pass.1.adsfacts
teu3-Gyrodactylus_teuchis_ciruclar_14789_int_ads_pass.1.adsfacts.pclusters
teu3-Gyrodactylus_teuchis_ciruclar_14789_int_istroublemaker_pass.1.bin
teu3-Gyrodactylus_teuchis_ciruclar_14789_int_multicopies_pass.1.bin
teu3-Gyrodactylus_teuchis_ciruclar_14789_int_needalloverlaps_pass.1.bin
teu3-Gyrodactylus_teuchis_ciruclar_14789_int_normalisedskims_pass.1.bin
teu3-Gyrodactylus_teuchis_ciruclar_14789_int_posmatchc_pass.1.bin
teu3-Gyrodactylus_teuchis_ciruclar_14789_int_posmatchc_pass.1.bin.reduced
teu3-Gyrodactylus_teuchis_ciruclar_14789_int_posmatchf_pass.1.bin
teu3-Gyrodactylus_teuchis_ciruclar_14789_int_posmatchf_pass.1.bin.reduced
teu3-Gyrodactylus_teuchis_ciruclar_14789_int_wellconnected_pass.1.bin
teu3-Gyrodactylus_teuchis_ciruclar_14789_log_readpoolinfo.lst
