hashstat.bin
thy1-Gyrodactylus_derjavinoides_int_ads_pass.1.adsfacts
thy1-Gyrodactylus_derjavinoides_int_ads_pass.1.adsfacts.pclusters
thy1-Gyrodactylus_derjavinoides_int_normalisedskims_pass.1.bin
thy1-Gyrodactylus_derjavinoides_int_posmatchc_pass.1.bin
thy1-Gyrodactylus_derjavinoides_int_posmatchc_pass.1.bin.reduced
thy1-Gyrodactylus_derjavinoides_int_posmatchf_pass.1.bin
thy1-Gyrodactylus_derjavinoides_int_posmatchf_pass.1.bin.reduced
thy1-Gyrodactylus_derjavinoides_log_readpoolinfo.lst
