hashstat.bin
tru2-Gyro_COI_int_ads_pass.1.adsfacts
tru2-Gyro_COI_int_ads_pass.1.adsfacts.pclusters
tru2-Gyro_COI_int_normalisedskims_pass.1.bin
tru2-Gyro_COI_int_posmatchc_pass.1.bin
tru2-Gyro_COI_int_posmatchc_pass.1.bin.reduced
tru2-Gyro_COI_int_posmatchf_pass.1.bin
tru2-Gyro_COI_int_posmatchf_pass.1.bin.reduced
tru2-Gyro_COI_log_readpoolinfo.lst
