der.extended.minlength-100bp.fastq.gz
der.extended.minlength-120bp.fastq.gz
der-trimmed-min50-interleaved.fastq.gz
der-trimmed-min50-se.fastq.gz
let.extended.minlength-100bp.fastq.gz
let.extended.minlength-120bp.fastq.gz
let-trimmed-min50-interleaved.fastq.gz
let-trimmed-min50-se.fastq.gz
mix.extended.minlength-100bp.fastq.gz
mix.extended.minlength-120bp.fastq.gz
mix-trimmed-min50-interleaved.fastq.gz
mix-trimmed-min50-se.fastq.gz
Palsbu.extended.minlength-100bp.fastq.gz
Palsbu.extended.minlength-120bp.fastq.gz
Palsbu-trimmed-min50-interleaved.fastq.gz
Palsbu-trimmed-min50-se.fastq.gz
Rauma.extended.minlength-100bp.fastq.gz
Rauma.extended.minlength-120bp.fastq.gz
Rauma.flash.log
Rauma-trimmed-min50-interleaved.fastq.gz
Rauma-trimmed-min50-se.fastq.gz
sal.extended.minlength-100bp.fastq.gz
sal.extended.minlength-120bp.fastq.gz
sal.flash.log
sal-trimmed-min50-interleaved.fastq.gz
sal-trimmed-min50-se.fastq.gz
teu1.extended.minlength-100bp.fastq.gz
teu1.extended.minlength-120bp.fastq.gz
teu1-trimmed-min50-interleaved.fastq.gz
teu1-trimmed-min50-se.fastq.gz
teu2.extended.minlength-100bp.fastq.gz
teu2.extended.minlength-120bp.fastq.gz
teu2-trimmed-min50-interleaved.fastq.gz
teu2-trimmed-min50-se.fastq.gz
teu3.extended.minlength-100bp.fastq.gz
teu3.extended.minlength-120bp.fastq.gz
teu3-trimmed-min50-interleaved.fastq.gz
teu3-trimmed-min50-se.fastq.gz
teu4.extended.minlength-100bp.fastq.gz
teu4.extended.minlength-120bp.fastq.gz
teu4-trimmed-min50-interleaved.fastq.gz
teu4-trimmed-min50-se.fastq.gz
thy1.extended.minlength-100bp.fastq.gz
thy1.extended.minlength-120bp.fastq.gz
thy1-trimmed-min50-interleaved.fastq.gz
thy1-trimmed-min50-se.fastq.gz
thy2.extended.minlength-100bp.fastq.gz
thy2.extended.minlength-120bp.fastq.gz
thy2-trimmed-min50-interleaved.fastq.gz
thy2-trimmed-min50-se.fastq.gz
tru1.extended.minlength-100bp.fastq.gz
tru1.extended.minlength-120bp.fastq.gz
tru1-trimmed-min50-interleaved.fastq.gz
tru1-trimmed-min50-se.fastq.gz
tru2.extended.minlength-100bp.fastq.gz
tru2.extended.minlength-120bp.fastq.gz
tru2-trimmed-min50-interleaved.fastq.gz
tru2-trimmed-min50-se.fastq.gz
