mix.Gyrodactylus_derjavinoides.pe.readlist.txt
mix.Gyrodactylus_derjavinoides.se.readlist.txt
mix.Gyrodactylus_teuchis_ciruclar_14789.pe.readlist.txt
mix.Gyrodactylus_truttae_ciruclar_14823.pe.readlist.txt
