hashstat.bin
Rauma-Gyro_COI_int_ads_pass.1.adsfacts
Rauma-Gyro_COI_int_ads_pass.1.adsfacts.pclusters
Rauma-Gyro_COI_int_normalisedskims_pass.1.bin
Rauma-Gyro_COI_int_posmatchc_pass.1.bin
Rauma-Gyro_COI_int_posmatchc_pass.1.bin.reduced
Rauma-Gyro_COI_int_posmatchf_pass.1.bin
Rauma-Gyro_COI_int_posmatchf_pass.1.bin.reduced
Rauma-Gyro_COI_log_readpoolinfo.lst
