hashstat.bin
mix-Gyrodactylus_teuchis_int_ads_pass.1.adsfacts
mix-Gyrodactylus_teuchis_int_ads_pass.1.adsfacts.pclusters
mix-Gyrodactylus_teuchis_int_istroublemaker_pass.1.bin
mix-Gyrodactylus_teuchis_int_multicopies_pass.1.bin
mix-Gyrodactylus_teuchis_int_needalloverlaps_pass.1.bin
mix-Gyrodactylus_teuchis_int_normalisedskims_pass.1.bin
mix-Gyrodactylus_teuchis_int_posmatchc_pass.1.bin
mix-Gyrodactylus_teuchis_int_posmatchc_pass.1.bin.reduced
mix-Gyrodactylus_teuchis_int_posmatchf_pass.1.bin
mix-Gyrodactylus_teuchis_int_posmatchf_pass.1.bin.reduced
mix-Gyrodactylus_teuchis_int_wellconnected_pass.1.bin
mix-Gyrodactylus_teuchis_log_readpoolinfo.lst
