hashstat.bin
teu3-G.der.teu.mt_int_ads_pass.1.adsfacts
teu3-G.der.teu.mt_int_ads_pass.1.adsfacts.pclusters
teu3-G.der.teu.mt_int_normalisedskims_pass.1.bin
teu3-G.der.teu.mt_int_posmatchc_pass.1.bin
teu3-G.der.teu.mt_int_posmatchc_pass.1.bin.reduced
teu3-G.der.teu.mt_int_posmatchf_pass.1.bin
teu3-G.der.teu.mt_int_posmatchf_pass.1.bin.reduced
teu3-G.der.teu.mt_log_readpoolinfo.lst
