tru2.Gyrodactylus_derjavinoides.se.readlist.txt
tru2.Gyrodactylus_teuchis_ciruclar_14789.pe.readlist.txt
tru2.Gyrodactylus_teuchis_ciruclar_14789.se.readlist.txt
tru2.Gyrodactylus_truttae_ciruclar_14823.pe.readlist.txt
tru2.Gyrodactylus_truttae_ciruclar_14823.se.readlist.txt
